#database credentials
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#Gemini credentials
SPRING_APPLICATION_NAME=
SPRING_AI_OPENAI_CHAT_BASE_URL=
SPRING_AI_OPENAI_CHAT_COMPLETIONS_PATH=
SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=
SPRING_AI_OPENAI_API_KEY=

#Jwt configurations
JWT_SECRET=
JWT_EXPIRATION=

#database migration
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration
SPRING_FLYWAY_SCHEMAS=public
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
SPRING_FLYWAY_VALIDATE_ON_MIGRATE=true

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false

#activation
SPRING_PROFILES_ACTIVE=prod
